@{
    ViewBag.Title = "Compare結果";
}
@using GoocaBoocaBase.Helpers
<h2>「@ViewBag.ResearchName」結果</h2>
@model IEnumerable<Tuple<List<string>, double>>
 
 <ul id="answerChoice">          
@foreach (var item in (IEnumerable<GoocaBoocaDataModels.Item>)ViewBag.ItemList)
{
    <li>@Html.Image("", @Url.Action("ItemDownload", "Image", new { id = item.ItemId }), item.ItemName, "overimg", new { width = "100" }) </li>
}
</ul>
<table>
    <thead>
        <tr>
            @for (int i = 0; i < ViewBag.maxLen; i++)
            {
                if (i != 0)
                {
                <th>
                    &gt;
                </th>
                }
                <th>
                    
                </th>

            }
            <th>
                支持度合い（%）
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @for (int i = 0; i < item.Item1.Count; i++)
                {
                    if (i != 0)
                    {
                    <td>
                        &gt;
                    </td>      
                    }
                    <td>@Html.DisplayFor(n => item.Item1[i])
                    </td>
                }
                @for (int i = item.Item1.Count; i < ViewBag.maxLen; i++)
                {
                    <td></td>  <td></td>
                }
                <td class="data">@((item.Item2 * 100).ToString("F1"))
                </td>
            </tr>
        }
    </tbody>
</table>
