@{
    ViewBag.Title = "GoocaBooca結果";
}
@model IEnumerable<Tuple<GoocaBoocaDataModels.ItemCategory, GoocaBoocaDataModels.ItemAnswerChoice, int>>
<h2>
    GoocaBooca結果</h2>
<table>
    <thead>
        <tr>
            <th>
                カテゴリ
            </th>
             <th>
                @ViewBag.KeyChoice 率（％）
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupBy(n => n.Item1))
        {
            <tr>
                <td>@item.Key.ItemCategoryName
                </td>
                <td class="data">
                    @((  item.Where(n => n.Item2.Tag == "Key").First().Item3 * 100 / (double)item.Sum(n => n.Item3)).ToString("F1"))
                </td>
            </tr>
        }
    </tbody>
</table>
